<div class="parent">
  <h1 class="logo">Foodis</h1>

  <div class="send-mail">
    <p>Have more questions?</p>
    <div class="send-input">
      <input type="text" placeholder="   Add your email.">
      <button>Send!</button>
    </div>
  </div>

  <div class="company-parent">
    <h2>Company</h2>
    <div class="company">
      <a routerLink="/about">About</a>
      <a routerLink="/contact">Contact</a>
    </div>
  </div>

  <div class="Social-media">
    <h2>Follow us on social media</h2>
    <div class="social-media">
      <a href="#"><img src="../../../../assets/icons/Icon awesome-facebook.png" alt=""></a>
      <a href="#"><img src="../../../../assets/icons/Icon awesome-instagram.png" alt=""></a>
      <a href="#"><img src="../../../../assets/icons/Icon awesome-pinterest-p.png" alt=""></a>
      <a href="#"><img src="../../../../assets/icons/Icon feather-twitter.png" alt=""></a>
    </div>

  </div>

</div>




<div class="parent-phone">
  <a routerLink="/about">
    <mat-icon class="icon" fontIcon="list"></mat-icon>
    About
  </a>
  <a routerLink="/products" class="home">
    <mat-icon class="icon home" fontIcon="camera_outdoor"></mat-icon>
    home
  </a>
  <a routerLink="/contact">
    <mat-icon class="icon" fontIcon="person_outline"></mat-icon>
    Contact
  </a>
</div>
  