<div class="parent">

  <div class="content-container">
    <div class="content">
      <h1 class="logo">F<span>oo</span>dis</h1>
      <h2>About us</h2>
      <p>
        Foodis's mission is to make cities better places for customers, merchants and couriers alike. <br>
        Foodis's platform makes it easy for customers to order whatever they need on one app, <br>
        for merchants to make additional sales, and<br> for couriers to make meaningful earnings
        flexibly. <br> To enable this, Foodis develops a wide range of technologies from local logistics <br>
        to retail software and financial solutions, as well as operates its own grocery <br> stores under
        the brand Foodis Market.
      </p>
      <button routerLink="/products" class="button light-button">Go Shopping!</button>
    </div>
  </div>  
</div>
