div {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.parent {
  gap: 10%;
  margin: 1% 3%;
}

tr{
  margin: 15px auto;
}

table {
  margin: 0 auto;
  text-align: center;
}

p{
  align-self: center;
}

.image-container {
  width: 100%;
  gap: 10px;

  img {
    width: 40%;
  }
}
